<!-- Footer -->
<footer id="footer" style="font-size: 13px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 footer-about wow fadeInUp">

				<p class="last_text"><a target="_blank" href="/media/privacy%20prestito%20in.pdf">Privacy
						policy</a> |
					<a target="_blank" href="https://www.agoscorporate.it/trasparenza.aspx">Trasparenza</a> |
					<a href="https://www.iubenda.com/privacy-policy/48730419/cookie-policy"
						class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe "
						title="Cookie Policy ">Cookie Policy</a>
					<script
						type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
				</p>

				<p style="line-height: 1.2;font-size:12px;">
					Ti ricordiamo che la richiesta del prestito personale e di prestito contro cessione del quinto dello stipendio/pensione è soggetta ad approvazione di Agos Ducato S.p.A.
					Messaggio pubblicitario con finalità promozionale. Per ulteriori informazioni richiedere in Agenzia il "Modulo informazioni europee di Base sul credito ai consumatori" (SECCI) e copia del testo contrattuale.
					Il prestito contro cessione del quinto dello stipendio è assistito da coperture assicurative "vita" e "impiego", il prestito contro cessione del quinto della pensione da copertura assicurativa "vita", obbligatorie per legge e stipulate direttamente da Agos Ducato S.p.A. con pagamento dei premi a suo carico.
					L'importo richiedibile (somma netta erogata) e la durata possono variare, ad esempio, in funzione di: posizione lavorativa del richiedente (dipendente o pensionato), natura giuridica del datore di lavoro (in caso di cessione del quinto dello stipendio), età del richiedente, durata del finanziamento.
				</p>

			</div>
			<div class="col-sm-4 footer-contact-info wow fadeInDown">
				<h3>Contatti</h3>
				<p><i class="fa fa-map-marker"></i> Piazza Garibaldi 5, 22063 Cantù Italy</p>
				<p><i class="fa fa-phone"></i> Phone: (0039) 3387194399</p>
				<p><i class="fa fa-envelope"></i> Email: <a
						href="mailto:salvatore.bava@agenteagos.it">salvatore.bava@agenteagos.it</a>

				<p style="line-height: 1.2;">PRESTITO "IN" SERVIZI FINANZIARI DI SALVATORE BAVA - AGENTE IN ATTIVITA' FINANZIARIA - MONOMANDATARIO AGOS DUCATO SPA | ISCRIZIONE OAM A13038 <br/> PARTITA IVA 11140990968

				</p>
				<p>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
				</p>
			</div>
		</div>
	</div>
</footer>