<div class="c-form-1-top">
	<div class="c-form-1-top-left">
		<h3>Richiedi preventivo</h3>
		<p>Compila il form per essere ricontattato</p>
	</div>
	<div class="c-form-1-top-right">
		<i class="fa fa-envelope"></i>
	</div>
</div>
<div class="c-form-1-bottom">
	<form role="form" method="post">
		<div class="form-group">
			<label class="sr-only" for="c-form-1-name">Nome</label>
			<input type="text" required name="name" placeholder="Nome..." class="c-form-1-name form-control" id="c-form-1-name" autocomplete="given-name">
		</div>
		<div class="form-group">
			<label class="sr-only" for="c-form-1-surname">Cognome</label>
			<input type="text" required name="surname" placeholder="Cognome..." class="c-form-1-name form-control" id="c-form-1-surname" autocomplete="family-name">
		</div>
		<div class="form-group">
			<label class="sr-only" for="c-form-1-phone">Telefono</label>
			<input type="tel" required name="phone" placeholder="Telefono..." class="c-form-1-email form-control" id="c-form-1-phone" autocomplete="tel">
		</div>
		<div class="form-group">
			<label class="sr-only" for="c-form-1-email">Email</label>
			<input type="email" required name="email" placeholder="Email..." class="c-form-1-email form-control" id="c-form-1-email" autocomplete="email">
		</div>
		<div class="form-group">
			<label class="sr-only" for="c-form-1-citta">Città</label>
			<input type="text" required name="citta" placeholder="Città..." class="c-form-1-email form-control" id="c-form-1-citta" autocomplete="address-level2">
		</div>
		<div class="form-group">
			<label class="sr-only" for="c-form-1-provincia">Provincia</label>
			<input type="text" required name="provincia" placeholder="Provincia..." class="c-form-1-email form-control" id="c-form-1-provincia" autocomplete="address-level1">
		</div>
		<div class="form-group">
			<input type="checkbox" required name="privacy" id="c-form-1-privacy">
			<label for="c-form-1-privacy">Accetto la <a target="_blank" href="{{ privacy_link | default: '/media/privacy%20prestito%20in.pdf' }}">privacy policy</a></label>
		</div>
		<button type="submit" class="btn">INVIA</button>
	</form>
</div>
